body {
    text-align: justify;
}

.logo {
    position: absolute;
    bottom: 3cm;
    left: 2cm;
    width: 5cm;
}

.title {
    font-size: 32pt;
    font-weight: bold;
    color: #2c3e50;
    margin-top: 4cm;
    text-align: center;
}

.subtitle {
    font-size: 18pt;
    color: #7f8c8d;
    margin-top: 1cm;
    text-align: center;
}

.authors {
    font-size: 14pt;
    margin-top: 4cm;
    text-align: center;
}

.separator {
    width: 50%;
    margin: 0.5cm auto;
    border-bottom: 2px solid #3498db;
}

pre, code {
    text-align: left;
    word-break: break-word;
    font-size: small;
}